:root {
  --purple: #7858d9;
}

h2 {
  font-weight: bold;
}

[data-notification]:after {
  content: "";
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100vw;
  background-color: var(--purple);
}

[data-display="grid"] {
  --card-width: 8rem;
  --card-height: 10rem;
  grid-template-columns: repeat(3, var(--card-width));
  @media (width > 800px) {
    grid-template-columns: repeat(4, var(--card-width));
  }
  grid-auto-rows: var(--card-height);
}

[data-display="list"] {
  grid-template-columns: 1fr;

  & button div {
    display: flex;
  }
}
